api:
  listen: ":1984"
  origin: "*"

rtsp:
  listen: ":8554"

streams:
  camera1: ${CAMERA_1_URL}
  camera2: "ffmpeg:${CAMERA_2_URL}#video=h264"
  camera3: "ffmpeg:${CAMERA_3_URL}#video=h264"
  camera4: "ffmpeg:${CAMERA_4_URL}#video=h264"
